@import './vars.scss';

.container {
    position: fixed;
    z-index: 500;
    bottom: 0;
    left: 0;
    width: 98%;
    padding: 10px 1%;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background: rgba(155,155,155,.7);  
}

.funding {
    position: fixed;
    bottom: 120px;
    left: 0;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    p {
        position: relative;
        z-index: 704;
        padding: 0 15px 0 0;
        margin: 0;
        font-family: $body;
        color: rgba(255,255,255,.6);
        font-size: 14px;
        text-align: right;
        font-weight: 600;
        letter-spacing: 0.03em;
    }
}

.fundBack {
    width: 100px;
    height: 50px;
    transform: skew(2deg, 2deg);
    position: absolute;
    background: $komm;
    opacity: .6;
}

.text {
    position: fixed;
    bottom: 75px;
    left: 20px;
    text-align: right;
    color: rgba(255,255,255, 0.7);
    font-weight: 500;
    font-size: 12px;
    font-family: $body; 
}

.link {
    margin: 0 2%;
    opacity: .7;
    transition: opacity .5s ease-in-out;
    cursor: pointer;

    &:hover {
        opacity: .9;
        transition: opacity .5s ease-in-out;
    }

    svg {
        width: 100%;
    }

    img {
        width: 100%;
    }
}

.dsee {
    width: 15%;
}

.neustart {
    width: 5%;
}

.stiftung {
    width: 15%;
}

.spk {
    width: 9%;
}

.berlin {
    width: 13%;
}

.zwitscher {
    width: 10%;
}

