@import './vars.scss';

.container {
    position: fixed;
    z-index: 600;
    top: 0;
    right: 0;
    background: rgba(255,255,255,.7);
    width: 150px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: right;
}