@import './vars.scss';

.podcast {
    width: 250px;
    margin: 0 10%;
    position: relative;

    p {
        font-family: $heading;
        font-size: 20px;
        margin: 0;
        padding: 0 4px;
        color: rgba(255,255,255,.8);
        display: inline-block;
        text-align: right;
    }

    img {
        width: 100%;
    }
}