@import './vars.scss';

.container {
    height: 100vh;
    position: fixed;
    z-index: 300;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.back {
    opacity: .8;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 301;
}

.textWrap {
    z-index: 302;
    position: relative;
    width: 80%;
    padding: 0 10% 150px;
    transform: rotate(-1deg);
    overflow: auto;
    top: 7px;
}

.text {
    width: 95%;
    padding: 2.5%;
    background: rgba(0,0,0,.5);
    color: rgba(255,255,255,.8);
    font-size: 18px;
    line-height: 24px;
    font-family: $body;
}

.notes {
    width: 95%;
    padding: 2.5%;
    background: rgba(0,0,0,.5);
    color: rgba(255,255,255,.8);
    font-size: 12px;
    line-height: 16px;
    font-weight: 800;
    font-family: $body;
}