// fonts
$heading: 'Bebas Neue', sans-serif;
$body: 'Montserrat', sans-serif;

// colors
$white: #fefefe;
$background: #999;
$dark-text: #333;
$light-text: #777;
$flower: #4255B3;
$herbst: #B57535;
$roof: #B02853;
$leaf: #74997F;
$komm: #B02853;

// TRANSITIONS

$short: .5s ease-in-out;
$medium: 1s ease-in-out;
$long: 2s ease-in-out;